<div class="container">
  <div class="row">
    <div class="follow">
      <h2>Follow Users</h2>
      <% if @users.present? %>
        
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
